src/AnalyseurDTD/rap3.dtd

<!ELEMENT rapport (titre, auteur+, resume, chapitre+)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT auteur (nom, prenom)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT resume (#PCDATA)>
<!ELEMENT chapitre (p | section)+>
<!ATTLIST chapitre
        titre CDATA #IMPLIED
>
<!ELEMENT section (p)+>
<!ATTLIST section
        titre CDATA #IMPLIED
>
<!ELEMENT p (#PCDATA)>
